In [32]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [10]:
df = pd.read_csv(r"C:\Users\user\Downloads\aircrashesFullData.csv")

In [ ]:
!pip install pandas

In [11]:
df. shape

(5030, 12)

In [12]:
df.columns

Index(['Year', 'Quarter', 'Month', 'Day', 'Country/Region',
       'Aircraft Manufacturer', 'Aircraft', 'Location', 'Operator',
       'Sum of Ground', 'Sum of Fatalities (air)', 'Sum of Aboard'],
      dtype='str')

In [13]:
df.head(5)

,Year,Quarter,Month,Day,Country/Region,Aircraft Manufacturer,Aircraft,Location,Operator,Sum of Ground,Sum of Fatalities (air),Sum of Aboard
0,1908,Qtr 3,September,17,Virginia,Wright Flyer,Wright Flyer III?,Fort Myer Virginia,Army U.S. - Military,0,1,2
1,1909,Qtr 3,September,7,France?,Wright,Wright ByplaneSC1,Juvisy-sur-Orge France?,NaN,0,1,1
2,1912,Qtr 3,July,12,New,Dirigible?,Dirigible?,Atlantic City New,Navy U.S. - JerseyMilitary,0,5,5
3,1913,Qtr 3,August,6,British,Curtiss,Curtiss seaplane?,Victoria British,Canada Columbia Private,0,1,1
4,1913,Qtr 3,September,9,NaN,Zeppelin,Zeppelin L 1 (airship)?,Over the North SeaMilitary - German Navy,NaN,0,14,20

In [14]:
df.info

<bound method DataFrame.info of       Year Quarter      Month  Day Country/Region Aircraft Manufacturer  \
0     1908   Qtr 3  September   17       Virginia          Wright Flyer
1     1909   Qtr 3  September    7        France?                Wright
2     1912   Qtr 3       July   12            New            Dirigible?
3     1913   Qtr 3     August    6        British               Curtiss
4     1913   Qtr 3  September    9            NaN              Zeppelin
...    ...     ...        ...  ...            ...                   ...
5025  2022   Qtr 4   November    6       Tanzania                   ATR
5026  2022   Qtr 4   November   18           Peru                Airbus
5027  2022   Qtr 4   November   21       Colombia                 Piper
5028  2023   Qtr 1    January   15          Nepal                   ATR
5029  2023   Qtr 3  September   16         Brazil               Embraer

                             Aircraft  \
0                   Wright Flyer III?
1                   Wright ByplaneSC1
2                          Dirigible?
3                   Curtiss seaplane?
4             Zeppelin L 1 (airship)?
...                               ...
5025                     ATR 42 5005H
5026                Airbus 320 271NCC
5027                      Piper PA 31
5028                       ATR 72 500
5029  Embraer EMB 110P1 BandeirantePT

                                      Location  \
0                           Fort Myer Virginia
1                      Juvisy-sur-Orge France?
2                            Atlantic City New
3                             Victoria British
4     Over the North SeaMilitary - German Navy
...                                        ...
5025                           Bukoba Tanzania
5026                                 Lima Peru
5027                         Medellín Colombia
5028                             Pokhara Nepal
5029                           Barcelos Brazil

                              Operator  Sum of Ground  \
0                 Army U.S. - Military              0
1                                  NaN              0
2           Navy U.S. - JerseyMilitary              0
3     Canada          Columbia Private              0
4                                  NaN              0
...                                ...            ...
5025                     Air Precision              0
5026                             LATAM              2
5027                          SAS Aero              0
5028                     Airlines Yeti              0
5029                   Aerotaxi Manaus              0

      Sum of Fatalities (air)  Sum of Aboard
0                           1              2
1                           1              1
2                           5              5
3                           1              1
4                          14             20
...                       ...            ...
5025                       19             43
5026                        0            108
5027                        8              8
5028                       72             72
5029                       14             14

[5030 rows x 12 columns]>

In [15]:
df.describe

<bound method NDFrame.describe of       Year Quarter      Month  Day Country/Region Aircraft Manufacturer  \
0     1908   Qtr 3  September   17       Virginia          Wright Flyer
1     1909   Qtr 3  September    7        France?                Wright
2     1912   Qtr 3       July   12            New            Dirigible?
3     1913   Qtr 3     August    6        British               Curtiss
4     1913   Qtr 3  September    9            NaN              Zeppelin
...    ...     ...        ...  ...            ...                   ...
5025  2022   Qtr 4   November    6       Tanzania                   ATR
5026  2022   Qtr 4   November   18           Peru                Airbus
5027  2022   Qtr 4   November   21       Colombia                 Piper
5028  2023   Qtr 1    January   15          Nepal                   ATR
5029  2023   Qtr 3  September   16         Brazil               Embraer

                             Aircraft  \
0                   Wright Flyer III?
1                   Wright ByplaneSC1
2                          Dirigible?
3                   Curtiss seaplane?
4             Zeppelin L 1 (airship)?
...                               ...
5025                     ATR 42 5005H
5026                Airbus 320 271NCC
5027                      Piper PA 31
5028                       ATR 72 500
5029  Embraer EMB 110P1 BandeirantePT

                                      Location  \
0                           Fort Myer Virginia
1                      Juvisy-sur-Orge France?
2                            Atlantic City New
3                             Victoria British
4     Over the North SeaMilitary - German Navy
...                                        ...
5025                           Bukoba Tanzania
5026                                 Lima Peru
5027                         Medellín Colombia
5028                             Pokhara Nepal
5029                           Barcelos Brazil

                              Operator  Sum of Ground  \
0                 Army U.S. - Military              0
1                                  NaN              0
2           Navy U.S. - JerseyMilitary              0
3     Canada          Columbia Private              0
4                                  NaN              0
...                                ...            ...
5025                     Air Precision              0
5026                             LATAM              2
5027                          SAS Aero              0
5028                     Airlines Yeti              0
5029                   Aerotaxi Manaus              0

      Sum of Fatalities (air)  Sum of Aboard
0                           1              2
1                           1              1
2                           5              5
3                           1              1
4                          14             20
...                       ...            ...
5025                       19             43
5026                        0            108
5027                        8              8
5028                       72             72
5029                       14             14

[5030 rows x 12 columns]>

In [16]:
df.isnull

<bound method DataFrame.isnull of       Year Quarter      Month  Day Country/Region Aircraft Manufacturer  \
0     1908   Qtr 3  September   17       Virginia          Wright Flyer
1     1909   Qtr 3  September    7        France?                Wright
2     1912   Qtr 3       July   12            New            Dirigible?
3     1913   Qtr 3     August    6        British               Curtiss
4     1913   Qtr 3  September    9            NaN              Zeppelin
...    ...     ...        ...  ...            ...                   ...
5025  2022   Qtr 4   November    6       Tanzania                   ATR
5026  2022   Qtr 4   November   18           Peru                Airbus
5027  2022   Qtr 4   November   21       Colombia                 Piper
5028  2023   Qtr 1    January   15          Nepal                   ATR
5029  2023   Qtr 3  September   16         Brazil               Embraer

                             Aircraft  \
0                   Wright Flyer III?
1                   Wright ByplaneSC1
2                          Dirigible?
3                   Curtiss seaplane?
4             Zeppelin L 1 (airship)?
...                               ...
5025                     ATR 42 5005H
5026                Airbus 320 271NCC
5027                      Piper PA 31
5028                       ATR 72 500
5029  Embraer EMB 110P1 BandeirantePT

                                      Location  \
0                           Fort Myer Virginia
1                      Juvisy-sur-Orge France?
2                            Atlantic City New
3                             Victoria British
4     Over the North SeaMilitary - German Navy
...                                        ...
5025                           Bukoba Tanzania
5026                                 Lima Peru
5027                         Medellín Colombia
5028                             Pokhara Nepal
5029                           Barcelos Brazil

                              Operator  Sum of Ground  \
0                 Army U.S. - Military              0
1                                  NaN              0
2           Navy U.S. - JerseyMilitary              0
3     Canada          Columbia Private              0
4                                  NaN              0
...                                ...            ...
5025                     Air Precision              0
5026                             LATAM              2
5027                          SAS Aero              0
5028                     Airlines Yeti              0
5029                   Aerotaxi Manaus              0

      Sum of Fatalities (air)  Sum of Aboard
0                           1              2
1                           1              1
2                           5              5
3                           1              1
4                          14             20
...                       ...            ...
5025                       19             43
5026                        0            108
5027                        8              8
5028                       72             72
5029                       14             14

[5030 rows x 12 columns]>

In [17]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5025    False
5026    False
5027    False
5028    False
5029    False
Length: 5030, dtype: bool

In [18]:
df.dtypes

Year                       int64
Quarter                      str
Month                        str
Day                        int64
Country/Region               str
Aircraft Manufacturer        str
Aircraft                     str
Location                     str
Operator                     str
Sum of Ground              int64
Sum of Fatalities (air)    int64
Sum of Aboard              int64
dtype: object

In [28]:
df['date'] = pd.to_datetime(
df['Year'] . astype(str) + ' ' +
df['Month'] + ' '+
df['Day']. astype(str)
)

In [31]:
df = df.dropna(subset=['date', 'Location'])
df['Sum of Fatalities (air)'] = df['Sum of Fatalities (air)'].fillna(0)
df = df.drop_duplicates()

In [ ]:
## 1- air crashes changes over time